<footer>
    <img class="footzillowimg" src="https://s.zillowstatic.com/pfs/static/z-logo-default.svg" alt="">
 
    <img class="foottownimg" src="https://s.zillowstatic.com/pfs/static/footer-art.svg" alt="">

   <div id="imgs">
    <img class="footappstoreimg" src="https://s.zillowstatic.com/pfs/static/app-store-badge.svg" alt="">
   <img class="footgooglestoreimg" src="https://s.zillowstatic.com/pfs/static/google-play-badge.svg" alt="">
   <img class="facebook" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Facebook_Logo_%282019%29.png/1024px-Facebook_Logo_%282019%29.png" alt="">
   <img class="twitter" src="https://assets.stickpng.com/images/580b57fcd9996e24bc43c53e.png" alt="">
   <img class="tiktok" src="https://logowik.com/content/uploads/images/blue-tiktok4645.logowik.com.webp" alt=""></div>
<p>For listings in Canada, the trademarks REALTOR®, REALTORS®, and the REALTOR® logo are controlled by The Canadian Real Estate Association (CREA) and identify real estate professionals who are members of CREA. The trademarks MLS®, Multiple Listing Service® and the associated logos are owned by CREA and identify the quality of services provided by real estate professionals who are members of CREA. Used under license.</p>
</footer>