<nav class="navbar">
    <div class="navbar-left">
      <ul>
        <li><a href="">Buy</a></li>
        <li><a href="">Rent</a></li>
        <li><a href="">Sell</a></li>
        <li><a href="">Home Loans</a></li>
        <li><a href="">Agent finder</a></li>
      </ul>
    </div>
    <div class="navbar-logo">
      <img  src="https://s.zillowstatic.com/pfs/static/z-logo-default.svg" alt="Zillow Logo" />

    </div>
    <div class="navbar-right">
      <ul>
        <li><a href="">Manage Rentals</a></li>
        <li><a href="">Advertise</a></li>
        <li><a href="">Help</a></li>
        <li><a href="">Sign In</a></li>

      </ul>
    </div>
  </nav>
  
