
*{
  background-color: transparent;
  background: transparent;  /* Chrome 10-25, Safari 5.1-6 */
  background: transparent;
 
}


.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #27374D;  
  padding: 40px;
  font-family: roboto;
  z-index: 1;
  margin: -8px -8px 0 -8px;
}

.navbar-left {
  display: flex;
  align-items: center;
  margin-top: 1px;
  margin-left: 295px;
  position: absolute;
  top: 30px; 
  left: 0;
  color: 	white;
  font-size: 100%;
}

.navbar-right {
  display: flex;
  align-items: center;
  position: absolute;
  top: 30px;
  margin-right: 370px;
  right: 0;
  color: 	white;
  font-size: 100%;
}

.navbar-left ul,
.navbar-right ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.navbar-left ul li,
.navbar-right ul li {
  margin-left: 30px;
}

.navbar-left ul li a,
.navbar-right ul li a {
  text-decoration: none;
}

.navbar-left ul li a:visited,
.navbar-right ul li a:visited {
  color: inherit;
}
.navbar-left ul li a:hover,
.navbar-right ul li a:hover {
 color:#19A7CE;  
}

  .navbar-logo {
    position: absolute;
    top: 24px;
    left: 872px;
  }
  
  .navbar-logo img {
    height: 35px;
    width: 160px;
    cursor: pointer;
  }
  
