
<div class="cards">
    <div id="cardsid">
    <div class="buy-content">
      <img class="buy-image" src="assets\unnamed (2).jpg" alt="Buy a home">
      <h2 class="Buy">Buy a home</h2>
      <p class="Buy-text">Find your place with an immersive photo experience and the most listings, including things you won’t find anywhere else.</p>
      </div>
      
      <div class="sell-content">
        <img class="sell-image" src="assets\unnamed (5).jpg" alt="sell a home">
      <h2 class="sell">Sell a home</h2>
      <p class="sell-text"> No matter what path you take to sell your home, we can help you navigate a successful sale.</p>
       </div>
  
      <div class = rent-content>
        <img class="rent-image" src="assets\unnamed (3).jpg" alt="rent a home">
     <h2 class="rent">Rent a home</h2>
      <p class="rent-text">We’re creating a seamless online experience – from shopping on the largest rental network, to applying, to paying rent.</p>
      </div>
  </div>
      </div>
