*{
  background-color: transparent;
  background: transparent;  /* Chrome 10-25, Safari 5.1-6 */
  background: transparent;
  
}

.search-image {
  position: relative;
    width: 1900px;
    height: 950px;
    right: 0px;
    

  }

  .searchnglass{
    position: absolute;
    top: 40%;
    z-index: 9999;
  left: 40%;
  
    }
    

  .container {
    overflow: hidden;
  }
  
  
  #find {
    z-index: 1;
    color: rgb(0, 0, 0);
   font-family: Sora;
    font-weight: 600;
   
  }
  

  #search-bar {
 
    z-index: 1;
    width: 31rem;
    padding: .6rem;
    font-family: Sora;
    font-size: 17px;
    height: 2rem;
    font-weight: 50%;
    border: 2px solid #000000;
    transition: border-color 0.3s ease;

  }
  #search-bar::placeholder {
    position: relative;
    color: black;
  font-size:15px ;

  }

  #search-bar:hover {
   
    background-color: white;
  }


  #search-bar:focus {
background-color: white;
    outline: none;  /* set the border color when the search bar is clicked */
  }
  
#glass-image:hover {
  cursor: pointer;
}

  #glass-image{
  position: absolute;
right: 1%;
z-index: 9999;

  }

@media screen and (max-width: 16in) {
  * {
    /* Styles for all elements on screens 16 inches or below */
  }

  .container {
    overflow: hidden;
  }
  

  .search-image {
    /* Styles for .search-image on screens 16 inches or below */
   
width: 1500px;
height: 850px;
  }

  .container {
    /* Styles for .container on screens 16 inches or below */

  }

  #find {
  
  top: 5px;
  }

  #glass-image {
   
  }
   

.searchnglass{
  position: absolute;
  top: 12%;
  z-index: 9999;
  left: 32%;
  
  }


}