*{
  background-color: transparent;
  background: transparent;  /* Chrome 10-25, Safari 5.1-6 */
  background: transparent;
}

.search-image {
    width: 100vw;
    height: 92vh;
    z-index: -1;
  }

  .searchnglass{
    position: absolute;
    top: 10%;
    z-index: 9999;
  left: 36%;
  
    }
    

  .container {
    overflow: hidden;
  }
  
  
  #find {
    z-index: 1;
    color: #27374D;
   font-family: Sora;
    font-weight: 600;
   
  }
  

  #search-bar {
 
    z-index: 1;
    width: 35rem;
    padding: .6rem;
    font-family: Sora;
    font-size: 17px;
    height: 2rem;
    font-weight: 50%;
    border: 1px solid lightgray;
    transition: border-color 0.3s ease;
  }
  #search-bar::placeholder {
    position: relative;
  }
  
  
  #search-bar:hover {
    border-color: #19A7CE; /* set the border color on hover */
  }
  #search-bar:focus {
    border-color: #19A7CE;
    outline: none;  /* set the border color when the search bar is clicked */
  }
  
  /* #glass-image {
  position: relative;
  top: -963px;
  left: 1280px;  
  z-index: 9999;
  height: 40px;
} */

#glass-image:hover {
  cursor: pointer;
}

  #glass-image{
  position: absolute;
right: 1%;
z-index: 9999;

  }

@media screen and (max-width: 16in) {
  * {
    /* Styles for all elements on screens 16 inches or below */
  }

  .search-image {
    /* Styles for .search-image on screens 16 inches or below */
    width: 100vw;
    height: 92vh;

  }

  .container {
    /* Styles for .container on screens 16 inches or below */

  }

  #find {
  
  top: 5px;
  }

  /* #search-bar {
    top: 20px;
    left: 30%;
    width: 40vw;
    font-size: 15px;
  } */

  #glass-image {
   
  }
   

.searchnglass{
  position: absolute;
  top: 12%;
  z-index: 9999;
  left: 32%;
  
  }


}