
<div class="container">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Sora:wght@600&display=swap">

  
  <img src="https://media.architecturaldigest.com/photos/59de8016b237417e2f905bf2/16:9/w_2580,c_limit/01_RCHS-WD_Grazer_Ellis_247-Edit-Edit.jpg" 
  draggable="false" 

  class="search-image">
  <div class="searchnglass">
    <h1 id="find">Find Your Dream Home With Us</h1>
  <input type="text" id="search-bar" placeholder="Enter an address,
  neighborhood,city or Zip code" />
    <img src="assets\search_FILL0_wght400_GRAD0_opsz48.png" id="glass-image">
    </div>
</div>

