
<div class="container">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Sora:wght@600&display=swap">

  
  <img src="https://www.bankrate.com/2019/10/11115713/GettyImages-595504906.jpg?auto=webp&optimize=high&crop=16:9" 
  class="search-image">
  <div class="searchnglass">
    <h1 id="find">Find Your Dream Home With Us</h1>
  <input type="text" id="search-bar" placeholder="Enter an address,
  neighborhood,city or Zip code" />
    <img src="assets\search_FILL0_wght400_GRAD0_opsz48.png" id="glass-image">
    </div>
</div>

