*{
  background-color: transparent;
  background: transparent;  /* Chrome 10-25, Safari 5.1-6 */
  background: transparent;
}

.search-image {
    width: 98.86vw; /* Set width to 100% of the viewport width */
    height: 92.5vh;
    position: relative; /* Position the element */
    top: -133px; /* Position it at the top of the viewport */
    left: -2px; /* Position it at the left of the viewport */
    background-color: #f2f2f2;
    z-index: -1;
  }
  

  .container {
    position: relative;
  }
  
  
  .find {
    position: relative;
    top: 10px;
    left:630px;
    z-index: 1;
    color: #27374D;
   font-family: Sora;
    font-weight: 600;
   
  }
  

  .search-bar {
    position: relative; /* Updated */
    top: 20px;
    left: 630px;
    z-index: 1;
    width: 35vw;
    padding: 10px;
    font-family: Sora;
    font-size: 17px;
    height: 30px;
    font-weight: 50%;
    border: 1px solid lightgray;
    transition: border-color 0.3s ease;
  }
  .search-bar::placeholder {
    position: relative;
  }
  
  
  .search-bar:hover {
    border-color: #19A7CE; /* set the border color on hover */
  }
  .search-bar:focus {
    border-color: #19A7CE;
    outline: none;  /* set the border color when the search bar is clicked */
  }
  
.glass-image {
  position: relative;
  top: -963px;
  left: 1280px;  /* Adjust the left value as needed */
  z-index: 9999;
  height: 40px;
}
.glass-image:hover {
  cursor: pointer;
}

@media screen and (max-width: 16in) {
  * {
    /* Styles for all elements on screens 16 inches or below */
  }

  .search-image {
    /* Styles for .search-image on screens 16 inches or below */
    width: 98.7vw;
    height: 90vh;
    top: -139px;
    left: -13px;
  }

  .container {
    /* Styles for .container on screens 16 inches or below */
    padding: 10px;
  }

  .find {
    /* Styles for .find on screens 16 inches or below */
  
    top: 5px;
    left: 30%;
    font-size: 30px;
    font-weight: 600;

  }

  .search-bar {
    /* Styles for .search-bar on screens 16 inches or below */

    top: 20px;
    left: 30%;
    width: 40vw;
    font-size: 15px;
  }

  .glass-image {
   
    top: 78px;
    left: 295px;
    height: 30px;
  }
  
  .search-bar::placeholder {
    position: relative;
  }
}